{{- $image := false -}}
{{- with $.Context.Params.images -}}
    {{- $url := index . 0 -}}
    {{- with $.Resources.GetMatch $url -}}
        {{- $image = (dict "Type" "resource" "Resource" .) -}}
    {{- else -}}
        {{- $image = (dict "Type" "static" "Path" $url) -}}
    {{- end -}}
{{- else -}}
    {{- $resources := $.Resources.ByType "image" -}}
    {{- $featured := $resources.GetMatch "*featured*" -}}
    {{- if not $featured }}{{ $featured = $resources.GetMatch "{*cover*,*thumbnail*}" }}{{ end -}}
    {{- with $featured -}}
        {{ $image = (dict "Type" "resource" "Resource" .) }}
    {{- end -}}
{{- end -}}
{{ return $image }}